.about {
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 0px 3%;
  position: relative;
  z-index: 2;
}

.about-container {
  position: relative;
  max-width: 1200px;
  width: 100%;
  padding: 120px 80px;
  min-height: 350px;
  box-sizing: border-box;
  border-radius: 20px;
  overflow: hidden;

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  background-image: url('../assets/Card1-background.png'); 
  background-size: contain;
  background-position: flex-start;
  background-repeat: no-repeat;
}

.about-container::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 20px;
  padding: 4px;
  background: linear-gradient(to bottom, rgba(255,0,120,1), rgba(255,0,120,0));
  box-shadow: 0 0 20px rgba(255,0,120,0.6),
              0 0 40px rgba(255,0,120,0.4);
  -webkit-mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}


.about h2 {
  font-size: 42px;
  color: white;
  font-family: 'Audiowide', cursive;
}


.about p, .about h3 {
  font-size: 18px;
  line-height: 1.6;
  color: #ccc;
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
}

.about p {
  font-size: 18px;
  line-height: 1;     
  color: #ccc;
  margin-bottom: 8px;   
  font-family: 'Poppins', sans-serif;
}

.about p:last-child {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .about-container {
    padding: 30px;
  }

  .about h2 {
    font-size: 28px;
  }

  .about-highlights {
    flex-direction: column;
  }
}

.particle {
  position: absolute;
  background: rgba(255, 0, 120, 0.5);
  border-radius: 50%;
  opacity: 0;
  animation: float 6s infinite ease-in-out;
  pointer-events: none;
  filter: blur(0.5px);
}

@keyframes float {
  0% { opacity: 0; transform: scale(0.5); }
  20% { opacity: 0.3; }
  50% { opacity: 0.6; transform: scale(1); }
  80% { opacity: 0.3; }
  100% { opacity: 0; transform: scale(0.5); }
}
