.experience {
  display: flex;
  flex-direction: column;
  gap: 120px;
  padding: 120px 0;
  position: relative;
  z-index: 2;
  width: 100%;
  box-sizing: border-box;
}

.timeline-item {
  position: relative;
  width: 50%;
  padding: 60px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;

  background: rgba(17, 17, 17, 0); /* fundo transparente */
  box-shadow: 0 10px 40px rgba(255, 0, 120, 0.5);
  border-radius: 20px;
  overflow: hidden;
}

.timeline-item.left {
  margin-left: 0;             
  justify-content: flex-end;  
  border-radius: 0 20px 20px 0;
}

.timeline-item.right {
  margin-left: auto;         
  justify-content: flex-start;
  border-radius: 20px 0 0 20px;
}

.timeline-item.left::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  border-radius: 0 20px 20px 0;
  background: linear-gradient(to left, rgba(255, 0, 120, 1), rgba(255, 0, 120, 0));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.timeline-item.right::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  border-radius: 20px 0 0 20px;
  background: linear-gradient(to right, rgba(255, 0, 120, 1), rgba(255, 0, 120, 0));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.timeline-content {
  display: flex;
  flex-direction: column;
  max-width: 420px;
  width: 100%;
}

.timeline-item.left .timeline-content {
  text-align: right; 
}

.timeline-item.right .timeline-content {
  text-align: left; 
}

.timeline-content h2 {
  font-family: 'Audiowide', cursive;
  font-size: 32px;
  margin-bottom: 5px;
  color: #ccc;
}

.timeline-content h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  margin-bottom: 10px;
  color: #FF0078;
}

.timeline-content span {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  opacity: 0.7;
  display: block;
  margin-bottom: 15px;
  color: #ccc;
}

.timeline-content p {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #ccc;
  line-height: 1.6;
}

@media (max-width: 1024px) {
  .timeline-item {
    width: 45%; 
    padding: 40px;
  }
}

@media (max-width: 768px) {
  .timeline-item {
    width: 40%;
    padding: 30px;
  }

  .timeline-content {
    max-width: 280px;
  }

  .timeline-content h2 {
    font-size: 28px;
  }

  .timeline-content h3 {
    font-size: 16px;
  }

  .timeline-content span,
  .timeline-content p {
    font-size: 13px;
  }
}

@media (max-width: 480px) {
  .timeline-item {
    width: 35%;
    padding: 20px;
  }

  .timeline-content {
    max-width: 220px;
  }

  .timeline-content h2 {
    font-size: 24px;
  }

  .timeline-content h3 {
    font-size: 14px;
  }

  .timeline-content span,
  .timeline-content p {
    font-size: 12px;
  }
}