.hero {
  width: 100%;
  position: relative;
  z-index: 1;

  display: flex;
  justify-content: center;

  padding-top: 80px; 

  margin-top: 20px;
}

.hero-content {
  width: 100%;
  max-width: 1100px;
  text-align: center;
}

.hero-title {
  font-family: 'Audiowide', cursive;
  font-size: 5rem;
  font-weight: 400;
  color: #ffffff;

  margin-bottom: 17px; 
}

.hero-title span {
  background: linear-gradient(90deg, #ffffff, #FF0078);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-subtitle {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  color: #ffffff;

  margin-top: 17px;    
}

.hero-text {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  color: #ffffff;
  line-height: 1.6;
  max-width: 600px;
  margin: 17px auto 0 auto; 
}

@media (max-width: 768px) {
  .hero-title {
    font-size: 3.5rem;
    margin-bottom: 16px;
  }

  .hero-subtitle {
    font-size: 1.4rem;
    margin-top: 16px;
    margin-bottom: 12px;
  }

  .hero-text {
    font-size: 1.2rem;
    margin-top: 12px;
  }
}
