.highlights {
  display: flex;
  justify-content: center;
  padding: 10px 3%;
  position: relative;
  z-index: 2;
  margin-top: -80px;;
}

.highlights-container {
  max-width: 1100px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.highlight-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.highlight-item h2 {
  font-family: 'Audiowide', cursive;
  font-size: 42px;
  margin: 0;
  color: #ccc;

  text-shadow:
    0 0 5px #FF0078,
    0 0 10px #FF0078,
    0 0 20px #FF0078,
    0 0 40px #FF0078;
}

.highlight-item p {
  font-family: 'Poppins', sans-serif;
  margin-top: 10px;
  font-size: 18px;
  opacity: 0.8;
  color: #ccc;
}