.highlights {
  display: flex;               
  justify-content: center;     
  align-items: center;
  gap: 200px;                   
  width: 100%;
  padding: 5px 0;
  margin-top: -50px;
}

.highlight-item {
  display: flex;
  flex-direction: column;      
  align-items: center;        
  text-align: center;
}

.highlight-item h2 {
  font-family: 'Audiowide', cursive;
  font-size: 42px;
  margin: 0;
  color: #ccc;

  text-shadow:
    0 0 5px #FF0078,
    0 0 10px #FF0078,
    0 0 20px #FF0078,
    0 0 40px #FF0078;
}

.highlight-item p {
  font-family: 'Poppins', sans-serif;
  margin-top: 10px;
  font-size: 18px;
  opacity: 0.8;
  color: #ccc;
}