/* SECTION */
.skills {
  display: flex;
  justify-content: center;
  padding: 120px 3%;
  position: relative;
  z-index: 2;
}

.skills-container {
  max-width: 1100px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
  flex-wrap: wrap;
}

.skill-card {
  width: 300px;
  min-height: 360px;
  padding: 30px;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  text-align: center;

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  background: rgba(255, 255, 255, 0);

  transition: all 0.4s ease;
}

.skill-card:nth-child(2) {
  transform: translateY(-30px);
}

.skill-card::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 12px;
  padding: 2px;

  background: linear-gradient(
    to bottom,
    rgba(255, 0, 120, 1),
    rgba(255, 0, 120, 0)
  );

  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;

  pointer-events: none;
}

.skill-card:hover {
  width: 380px;
  box-shadow: 0 0 25px rgba(255, 0, 120, 0.5);
}

.card-image {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.card-image img {
  width: 60px;
  height: 60px;
}

.skill-card h3 {
  font-family: 'Audiowide', cursive;
  font-size: 22px;
  color: white;
  margin-bottom: 10px;
}

.area-label {
  font-size: 14px;
  color: #ff0078;
  margin-bottom: 10px;
}

.area-description {
  font-size: 14px;
  color: #ccc;
  margin-bottom: 20px;
}

.languages {
  display: flex;
  justify-content: center;
  gap: 15px;

  opacity: 0;
  transform: translateX(40px);
  transition: all 0.4s ease;
}

.languages img {
  width: 40px;
  height: 40px;
}

.skill-card:hover .languages {
  opacity: 1;
  transform: translateX(0);
}