* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden; 
  scroll-behavior: smooth;
  font-family: Arial, sans-serif;
  background: #0A0A14;
  overflow: auto;
}

.app {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;       
  height: 100%;      
  object-fit: contain; 
  object-position: top center; 
  z-index: 0;
  pointer-events: none;
}

.navbar,
.hero,
.about {
  position: relative;
  z-index: 2;
}

.hero {
  min-height: 100vh;
}


body::-webkit-scrollbar {
  display: none; 
}
html {
  scrollbar-width: none; 
}
body {
  -ms-overflow-style: none;
}